<div class="home-list">
  <ul>
    <li *ngFor="let item of activity">
      <a routerLink="/activity/{{item.id}}">
        <div class="ct f-cl">
          <div class="img-wrap">
            <img src="{{item.image}}" alt="">
          </div>
          <h3>{{item.title}}</h3>
          <p>{{item.content | subStr:35}}</p>
        </div>
        <div class="feed">
          <span class="author">by：{{item.category_name}}</span>
          <span class="from" *ngIf="item.subcategory_name">from：{{item.subcategory_name}}</span>
        </div>
      </a>
    </li>
  </ul>
</div>