<div class="activity">
  <app-ad-banner title="聊聊你的活动感受"></app-ad-banner>
  <div class="info f-ct">
    <h2 class="title">{{eventDetail.title}}
      <span>{{eventDetail.loc_name}}</span>
    </h2>
    <div class="img">
      <img src="{{eventDetail.image}}" alt="{{eventDetail.alt}}">
    </div>
    <ul class="list">
      <li class="f-cl">
        <span class="label">时间：</span>
        <span class="txt">{{eventDetail.time_str}}</span>
      </li>
      <li class="f-cl">
        <span class="label">地点：</span>
        <span class="txt">{{eventDetail.address}}</span>
      </li>
      <li class="f-cl">
        <span class="label">费用：</span>
        <span class="txt">{{eventDetail.fee_str}}</span>
      </li>
      <li class="f-cl">
        <span class="label">类型：</span>
        <span class="txt">{{eventDetail.category_name}}</span>
      </li>
      <li class="f-cl">
        <span class="label">起始时间：</span>
        <span class="txt">{{eventDetail.begin_time}}</span>
      </li>
    </ul>
    <div class="look-interst">
      <p class="show">
        <span></span>人感兴趣，
        <span></span>人要参加</p>
      <div class="btn">
        <span>感兴趣</span>
        <span>要参加</span>
      </div>
    </div>
    <div class="detail">
      <p class="tit">活动详情</p>
      <div>{{eventDetail.content}}</div>
    <div>此活动还没有添加详情哦！</div>
  </div>
  <app-tags></app-tags>
  <div class="tip">
    <p class="tit">温馨提示</p>
    <div>本活动信息由发起人自行发布，仅代表其个人意志，与豆瓣网无关，且活动的后续事项由发起人独立安排及负责。豆瓣网仅提供信息展示空间。不能保证活动的真实性、有效性、安全性，请在参加活动前与发起人具体确认核实相关情况，注意人身安全与财产安全。</div>
  </div>
  <app-loading></app-loading>
  <app-down-app></app-down-app>
</div>