<div class="subject-box" *ngIf="subject">
  <div>
    <app-ad-banner *ngIf="subject.attrs" title="聊聊你的观影感受"></app-ad-banner>
    <app-ad-banner *ngIf="subject.publisher" title="聊聊你的阅读感受"></app-ad-banner>
  </div>
  <div class="subject f-ct">
    <h3 class="title f-tof">{{subject.title}}</h3>
    <div class="meta-box f-cl">
      <div class="l">
        <div class="rating-box">
          <app-rating [ratings]="subject.rating"></app-rating>
          <span>{{subject.rating.numRaters}}人评论</span>
        </div>
        <div class="meta">{{meta}}</div>
      </div>
      <div class="r">
        <img src="{{subject.image}}" alt="{{subject.title}}">
      </div>
    </div>
    <a class="btn-app" href="#" *ngIf="subject.attrs">用APP查看影人资料</a>
    <a class="btn-app" href="#" *ngIf="subject.publisher">用APP查看图书资料</a>
    <div>
      <div class="wish-box" *ngIf="subject.attrs">
        <a href="#">想看</a>
        <a href="#">看过</a>
      </div>
      <div class="wish-box wish-box-book" *ngIf="subject.publisher">
        <a href="#">想读</a>
        <a href="#">在读</a>
        <a href="#">读过</a>
      </div>
    </div>
    <div class="summary">
      <p class="tit" *ngIf="subject.attrs">{{subject.title}}的剧情简介</p>
      <p class="tit" *ngIf="subject.publisher">{{subject.title}}的内容简介</p>
      <div>{{subject.summary}}</div>
    </div>
    <app-tags title="查看更多豆瓣高分电影" *ngIf="subject.attrs" [tags]="subject.tags | arrToArray"></app-tags>
    <app-tags title="查看更多豆瓣高分好书" *ngIf="subject.publisher" [tags]="subject.tags | arrToArray"></app-tags>
  </div>
  <app-scroller title="推荐的豆列" type="findList"></app-scroller>
  <app-types *ngIf="subject.attrs" title="了解更多电影信息"></app-types>
  <app-types *ngIf="subject.publisher" title="了解更多图书信息"></app-types>
  <app-down-app></app-down-app>
</div>