.quick-nav {
  padding-top: 24px;
}

.quick-nav li {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 3px;
}

.quick-nav li a {
  display: block;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  background: #eee;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}